In [6]:
import pandas as pd

# Функция для классификации возраста
def classify_age(age):
    if age > 25:
        return "Старше 25"
    else:
        return "Младше или равен 25"

# Функция для применения классификации возраста к столбцу
def apply_age_classification(df, column_name):
    df[f'{column_name}_category'] = df[column_name].apply(classify_age)
    return df

# Основная функция программы
def main():
    # Запросить у пользователя вставить данные
    print("Пожалуйста, вставьте 15 строк из таблицы. Каждая строка должна быть на новой строке.")
    print("Формат: name, device_type, browser, sex, age, bill, region")
    print("Пример: John, Mobile, Chrome, Male, 25, 100, Europe")

    data = []
    for i in range(15):
        while True:
            row = input(f"Введите строку {i+1}: ")
            try:
                # Преобразовать строку в список
                row_data = row.split(', ')
                # Проверка количества полей
                if len(row_data) != 7:
                    raise ValueError("Неправильное количество полей")
                # Преобразование возраста в числовой тип
                row_data[4] = int(row_data[4])
                data.append(row_data)
                break
            except ValueError as e:
                print(f"Неправильный формат: {e}. Пожалуйста, введите данные снова.")

    # Создать DataFrame из введенных данных
    column_names = ["name", "device_type", "browser", "sex", "age", "bill", "region"]
    df = pd.DataFrame(data, columns=column_names)

    # Преобразовать столбец 'bill' в числовой тип
    df['bill'] = pd.to_numeric(df['bill'])

    # Применить классификацию возраста
    df = apply_age_classification(df, 'age')

    print(df)

if __name__ == "__main__":
    main()

Пожалуйста, вставьте 15 строк из таблицы. Каждая строка должна быть на новой строке.
Формат: name, device_type, browser, sex, age, bill, region
Пример: John, Mobile, Chrome, Male, 25, 100, Europe
Введите строку 1: Allen  Miss. Elisabeth Walton,mobile,Chrome,female,29,885,St Louis: MO Allison  Master. Hudson Trevor,tablet,Opera,male,48,850,Montreal: PQ / Chesterville: ON Allison  Miss. Helen Loraine,laptop,Firefox,female,48,1034,Montreal: PQ / Chesterville: ON Allison  Mr. Hudson Joshua Creighton,desktop,Internet Explorer,male,30,214,Montreal: PQ / Chesterville: ON Allison  Mrs. Hudson J C (Bessie Waldo Daniels),laptop,Firefox,female,25,993,Montreal: PQ / Chesterville: ON Anderson  Mr. Harry,mobile,Firefox,male,48,371,New York: NY Andrews  Miss. Kornelia Theodosia,mobile,Chrome,female,63,1126,Hudson: NY Andrews  Mr. Thomas Jr,tablet,Internet Explorer,male,39,867,Belfast: NI Appleton  Mrs. Edward Dale (Charlotte Lamson),desktop,Chrome,female,53,552,Bayside: Queens: NY Artagaveytia  Mr. Ramon,mobile,Firefox,male,71,926,Montevideo: Uruguay Astor  Col. John Jacob,desktop,Chrome,male,47,100,New York: NY Astor  Mrs. John Jacob (Madeleine Talmadge Force),laptop,Opera,female,48,254,New York: NY Aubart  Mme. Leontine Pauline,tablet,Firefox,female,24,587,Paris: France "Barber  Miss. Ellen ""Nellie""",mobile,Firefox,female,26,1009,- Barkworth  Mr. Algernon Henry Wilson,laptop,Chrome,male,80,723,Hessle: Yorks
Неправильный формат: Неправильное количество полей. Пожалуйста, введите данные снова.
Введите строку 1: Allen  Miss. Elisabeth Walton,mobile,Chrome,female,29,885,St Louis: MO
Неправильный формат: Неправильное количество полей. Пожалуйста, введите данные снова.
Введите строку 1: Allen  Miss. Elisabeth Walton,mobile,Chrome,female,29,885,St Louis
Неправильный формат: Неправильное количество полей. Пожалуйста, введите данные снова.
Введите строку 1: Elisabeth Walton,mobile,Chrome,female,29,885,St Louis: MO
Неправильный формат: Неправильное количество полей. Пожалуйста, введите данные снова.
Введите строку 1: Elisabeth Walton, mobile, Chrome, female, 29, 885, St Louis: MO
Введите строку 2: Hudson Trevor, tablet, Opera, male, 48, 850, Montreal: PQ
Введите строку 3: Helen Loraine, laptop, Firefox, female, 48, 1034, Montreal: PQ
Введите строку 4: Hudson Joshua Creighton, desktop, Internet Explorer, male, 30, 214, Montreal: PQ
Введите строку 5: Hudson J C (Bessie Waldo Daniels), laptop, Firefox, female, 25, 993, Montreal: PQ
Введите строку 6: Harry, mobile, Firefox, male, 48, 371, New York: NY
Введите строку 7: Kornelia Theodosia, mobile, Chrome, female, 63, 1126, Hudson: NY
Введите строку 8: Thomas Jr, tablet, Internet Explorer, male, 39, 867, Belfast: NI
Введите строку 9: Edward Dale (Charlotte Lamson), desktop, Chrome, female, 53, 552, Bayside: Queens: NY
Введите строку 10: Ramon, mobile, Firefox, male, 71, 926, Montevideo: Uruguay
Введите строку 11: John Jacob, desktop, Chrome, male, 47, 100, New York: NY
Введите строку 12: John Jacob (Madeleine Talmadge Force), laptop, Opera, female, 48, 254, New York: NY
Введите строку 13: Leontine Pauline, tablet, Firefox, female, 24, 587, Paris: France
Введите строку 14: Ellen ""Nellie""", mobile, Firefox, female, 26, 1009, -
Введите строку 15: Algernon Henry Wilson, laptop, Chrome, male, 80, 723, Hessle: Yorks
                                     name device_type            browser  \
0                        Elisabeth Walton      mobile             Chrome
1                           Hudson Trevor      tablet              Opera
2                           Helen Loraine      laptop            Firefox
3                 Hudson Joshua Creighton     desktop  Internet Explorer
4       Hudson J C (Bessie Waldo Daniels)      laptop            Firefox
5                                   Harry      mobile            Firefox
6                      Kornelia Theodosia      mobile             Chrome
7                               Thomas Jr      tablet  Internet Explorer
8          Edward Dale (Charlotte Lamson)     desktop             Chrome
9                                   Ramon      mobile            Firefox
10                             John Jacob     desktop             Chrome
11  John Jacob (Madeleine Talmadge Force)      laptop              Opera
12                       Leontine Pauline      tablet            Firefox
13                      Ellen ""Nellie"""      mobile            Firefox
14                  Algernon Henry Wilson      laptop             Chrome

       sex  age  bill               region         age_category
0   female   29   885         St Louis: MO            Старше 25
1     male   48   850         Montreal: PQ            Старше 25
2   female   48  1034         Montreal: PQ            Старше 25
3     male   30   214         Montreal: PQ            Старше 25
4   female   25   993         Montreal: PQ  Младше или равен 25
5     male   48   371         New York: NY            Старше 25
6   female   63  1126           Hudson: NY            Старше 25
7     male   39   867          Belfast: NI            Старше 25
8   female   53   552  Bayside: Queens: NY            Старше 25
9     male   71   926  Montevideo: Uruguay            Старше 25
10    male   47   100         New York: NY            Старше 25
11  female   48   254         New York: NY            Старше 25
12  female   24   587        Paris: France  Младше или равен 25
13  female   26  1009                    -            Старше 25
14    male   80   723        Hessle: Yorks            Старше 25